* {
  color: rgba(255, 255, 255, 0.841);
}

body {
  background-color: black;
  font-family: 'SUIT', 'Noto Sans KR', sans-serif;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  font-size: 18px;
}

ul {
  list-style: none;
  text-align: start;
}

li {
  padding-bottom: 20px;
}

.content div,
#contact {
  border-bottom: 1px solid #d0cdcd37;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(8px);
}

#header-main a {
  display: inline-block;
  letter-spacing: 5px;
  padding: 10px 20px 10px 30px;
  font-size: 18px;
  font-weight: 700;
  color: #ffffff90;
  text-decoration: none;
}

#menu ul {
  display: inline;
  box-sizing: border-box;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

#menu li {
  display: inline;
}

#menu a {
  display: inline-block;
  padding: 10px 20px 10px 30px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff90;
  text-decoration: none;
}

#menu a:hover {
  color: white;
}

#project {
  text-align: start;
}

#project div:first-child,
#contact div:first-child,
#info div:first-child {
  padding-top: 90px;
}

a {
  color: rgba(207, 212, 128, 0.696);
}
